body {
    font-family: Arial, sans-serif;
}

.menu-buttons {
    text-align: center;
    margin-top: 20px;
}

#menu-container {
    margin-top: 20px;
    text-align: center;
}

.menu-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
}

.menu-item img {
    max-width: 100%;
    border-radius: 5px;
}